body {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: #ff6347;
}

.navLinks {
  margin: 0 auto;
  /* background-color: aqua; */
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: #ff6347;
  background-color: #ffffff;
  border: 1px solid #ff6347;
  height: 30px;
}
button:hover {
  color: #ffffff;
  background-color: #ff6347;
}

input {
  height: 25px;
}

.userInfo-Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* background-color: #ff6347; */
  min-height: 50px;
  margin-bottom: 25px;
}
