body {
  text-align: center;
  margin: 0 auto;
}
nav {
  max-width: 700px;
  height: 30px;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  /* margin: 0 auto; */
}

.greyDiv {
  /* background-color: #c0c0c0; */
  /* width: 200px;
  height: 200px; */
  margin: 5px;
  /* float: left; */
}
#colorPreview {
  background-color: black;
  width: 50%;
  height: 120px;
  margin-bottom: 25px;
}
.controlValue_Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controlValue_Section p {
  margin-right: 25px;
  color: gray;
}
.controlValue_Section button {
  margin: 0 5px;
  background-color: lightgray;
  color: #ffffff;
  border: none;
  height: 30px;
  width: 45px;
}
