body {
  text-align: center;
  margin: 0 auto;
}
nav {
  max-width: 700px;
  height: 30px;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
