body {
  text-align: center;
  margin: 0 auto;
}
nav {
  max-width: 700px;
  height: 30px;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
a {
  color: #ff6347;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  background-color: #ff6347;
  color: #ffffff;
}

.purpleBox {
  background-color: #713471;
  color: #ffffff;
  border: none;
  height: 35px;
  /* width: 55px; */
  padding: 0 10px;
}
.purpleBox button:hover {
  background-color: #a34ba3;
}
