body {
  text-align: center;
  margin: 0 auto;
}
nav {
  max-width: 700px;
  height: 30px;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
a {
  color: #ff6347;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  background-color: #ff6347;
  color: #ffffff;
}

.purpleBox {
  background-color: #713471;
  color: #ffffff;
  border: none;
  height: 35px;
  padding: 0 10px;
}
.purpleBox:hover {
  background-color: #a34ba3;
}
.purpleBorder {
  border: 3px solid #713471;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.redBox {
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  height: 30px;
}
.redBox:hover {
  background-color: #ffffff;
  color: #ff4500;
  border: 1px solid #ff4500;
  border-radius: 3px;
}
