.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 330px;
  background-color: bisque;
}
.box {
  /* height: 100px; */
  /* width: 100px; */
  background-color: aqua;
  border: 1px solid black;
  margin-bottom: 15px;
}
